:root {
  --font: 'Kode Mono', system-ui, 'Courier New', Courier, monospace;
  --font-onomatopoeia: 'Bangers', system-ui;
  font-family: var(--font);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #141414;
  --black-200: #1a1a1a;
  --white: #f1f1f1;
  --primary: #646cff;
  --primary-500: #535bf2;
  --secondary: orange;

  --ready: green;
  --connecting: yellow;
  --disconnected: grey;
  --error: red;

  --transition: 0.25s;
  --spark: 1.8s;
}

body {
  --active: 0;
  font-size: 16px;
  font-family: var(--font);
  color: var(--white);
  margin: 0;
  background: hsl(260 calc(var(--active) * 97%) 6%);
  transition: background var(--transition);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-500);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  display: block;
}
