h1 {
    text-align: center;
}

.row {
    display: flex;
    padding: 1em;
}

.column {
    flex: 50%;
}

.justify-center {
    justify-content: center;
}

#messageForm {
    text-align: center;
}

#errorMessage {
    color: red;
}

#messageField {
    list-style-type: none;
}

#messageField > li {
    padding: 1em;
}

#messageField > li:nth-child(odd) {
    background: #EFEFEF;
}

#messageField > li.botMessage {
    background: #AACCFF;
}